.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    background-color: #000000;
    padding: 0.5rem;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    /* height: 100%; */
  }
  .mySwiper .swiper-slide {
    opacity: 0.6; 
    transition: all 1s ease-in-out ;
  }
  
  .mySwiper .swiper-slide-active {
    transform: scale(1.1) !important; 
    opacity: 1; 
  }